.container-produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 2rem;
}
.produtos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 980px;
    padding: 2.5rem 0;
    flex-wrap: wrap;
    margin: 0 auto;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 29%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid white;  /*Uma borda solida, com 3 pixels de largura, entre o padding e a margin */
    border-radius: 10px;  /* Arrtedondar os cantos*/

}
.produtos .prod-img{
    width: 100%;
}
.produtos li:hover{ /*quando mouse estiver em cima da borda dos produtos*/
    border-color: #b9841a;
    
}
.produtos li:active{ /*quando mouse estiver sendo pressionado em cima dos produtos*/
    border-color:tomato;
}
.produtos li:hover h2{ /*quando mouse estiver em cima do texto(h2), muda o tamanho da fonte */
    font-size: 32px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
    
}
.produto-descricao{
    font-size: 17px;

}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.prod-title{
    height: 40px;
}

@media screen and (max-width:910px){
    .produtos{
        flex-direction: column;
        width: auto;
    }
    .container-produtos{
        padding-inline: 1rem;
        height: auto;
    }
    .produtos li{
        width: 100%;
        margin: 1rem 0;
    }
    .produtos .prod-img {
        width: auto;
    }
}